:root {
    --md-filter-chip-label-text-font: roboto;
    --md-sys-color-primary: #0A2E7C;
    --md-sys-color-outline: var(--md-sys-color-primary);
    --md-filter-chip-selected-leading-icon-color: var(--md-sys-color-primary);

    --md-sys-color-secondary: #BD2E2F;
    --md-filled-text-field-input-text-placeholder-color: var(--md-sys-color-secondary);

    --md-sys-color-on-surface: #191c1c;
    --md-sys-color-secondary-container: white; /* selected filter chip */
    --md-sys-color-surface-container-highest: white; /* filled text field */
    --md-menu-container-color: white;
    /* --md-filled-text-field-container-shape: 16px; */
    /* --md-filter-chip-container-shape: 16px; */
    --md-sys-shape-corner-full: 12px;

    --about-image-size: 80px;
    --combobox-minWidth: 125px;

    /* --md-sys-color-tertiary-container: blue; */
    /* --md-sys-color-background: yellow; */
    /* --md-sys-color-primary-container: green; /\* #B8C2D7; /\* #cce8e7;*\/ */
    /* --md-sys-color-surface: wheat; */
    /* --md-sys-color-surface-container: magenta; */
    /* --md-sys-color-surface-container-high: blue; */
    /* --md-sys-color-surface-container-highest: purple;   */
    /* --md-sys-color-surface-container-lowest: purple;       */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, sans-serif;
    overflow: hidden;
    color: var(--md-sys-color-primary);
}
.leaflet-bar a, .leaflet-container a.leaflet-popup-close-button, .leaflet-popup-content-wrapper {
    color: var(--md-sys-color-primary);
    border-color: var(--md-sys-color-primary);
}
.leaflet-touch .leaflet-bar {
    border-radius: 12px;
    & > a:first-child { border-top-left-radius: 12px; border-top-right-radius: 12px; }
    & > a:last-child { border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; }
}
:not(md-filled-icon-button) > md-icon {
    color: var(--md-sys-color-primary);
}
.remove, .icon.leading, .reply-input md-tonal-icon-button md-icon  {
    color: var(--md-sys-color-primary);
    --md-menu-item-supporting-text-color: var(--md-sys-color-primary);
    --md-menu-item-label-text-color: var(--md-sys-color-primary);
}
md-outlined-text-field {
    --md-outlined-text-field-label-text-color: var(--md-sys-color-secondary);
    --md-outlined-text-field-focus-outline-color: var(--md-sys-color-primary);
    --md-outlined-field-outline-color: var(--md-sys-color-primary);
}
.pubtag-choice {
    color: unset;
}
:not(.alert) .leaflet-popup-content {
    font-family: 'Roboto';
    min-width: 80px;
}
.alert .leaflet-popup-content, .display-content {
    max-width: 90vw;
    min-width: min(84vw, 600px);
    max-height: 80vh;
    overflow: auto;
}
/* Safari. Example dimensions are iPhone 17 pro max simulator */
/* In landscape, regardless of compact/bottom/top setting: */
/*   - There is a thick tabbed address bar above map. */
/*   - Notch partially obscures logo in landscape-right, but that's ok */
/*   - Height should be dvh (956 x 330), as lvh (440) extends below bottom of screen. */
/* In portrait, regardless of compact/bottom/top setting: */
/*   - There is a white space at top and bottom that is a little larger than the stuff controls displayed in it. */
/*   - If height of map, etc, is dvh (440 x 796), everything works, including keyboard appearance and dismissal. */
/*     Position .watching-hashtags box bottom:18px to leave space for map attribution. */
/*   - If height of map is lvh (440 x 836) and #subPopoverControls remains dvh (.watching-hashtags bottom:0), */
/*     then the map has a nice-ish fade under the bottom controls, without losing so much to whitespace. */
/*     BUT: */
/*       - It still has a hard edge to start of white, that is now directly under controls, which is ugly. */
/*       - The map attribution is under the controls, which isn't fair. */
/*       - I don't know how to make the keyboard work without covering the input box. */
#map {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
}
#mapCapture {
    height: 100dvh;
}

.info-banner {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.95);
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    font-size: 14px;
    text-align: center;
    max-width: 90%;
}

.loading {
    color: var(--md-sys-color-primary);
    font-weight: 500;
}

.error {
    color: var(--md-sys-color-secondary);
    font-weight: 500;
}

.instructions {
    color: #059669;
    font-weight: 500;
}

.faded {
    opacity: 0;
    transition: opacity 2s;
}

#mapCapture > img {
    position: absolute;
    opacity: 0;
    left: 5px;
    top: 5px;
    z-index: 1100;
}
#map + img.about-image {
    pointer-events: none;
}
.about-button {
    position: absolute;
    top: 5px;
    right: 5px;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
button, .leaflet-control-zoom > a, .leaflet-popup-close-button, md-outlined-icon-button, md-filled-icon-button, md-tonal-icon-button, md-elevated-button, md-checkbox, .attachment > md-icon {
    transition: transform 0.2s ease;
    &:hover { transform: scale(1.1); }
}
.leaflet-marker-icon:hover { filter: saturate(4) !important; }
.about-image {
    width: var(--about-image-size);
    height: auto;
    display: block;
}
#subPopoverControls {
    z-index:675;
    pointer-events: none;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    --mapAttributionHeight: 18px;
}
#subPopoverControls > * > * {
    pointer-events: auto;
}
.button-container {
    bottom: 0;
    left: 5px;
    position: absolute;
    display: flex;
    gap: 5px;
}

.watching-hashtags {
    position: absolute;
    width: calc(100% - 130px);
    /*bottom: calc((sign(calc(100vh - 100dvh)) - 1) * -18px); *//* 18px for attribution in desktop, none if iphone dynamic viewsize. */
    bottom: var(--mapAttributionHeight);
    right: 5px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
}
.combobox {
    position: relative;
    --textFieldHeight: 34px;
}
.combobox-listbox {
    padding: 5px;
    position: absolute;
    right: 5px;
    bottom: 55px;
    max-height: 45dvh; /* leaving room for portrait keyboard. landscape keyboard has no room at all *\/ */
    overflow-y: auto;
    width: fit-content;
    min-width: var(--combobox-minWidth);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
@media (orientation: landscape) and (pointer: coarse) {
    .combobox-listbox {
	display: none !important;
    }
}
.combobox-option {
    font-size: 0.95rem;
    color: var(--md-sys-color-primary);
    cursor: pointer;
    white-space: nowrap;
}
.combobox-option minidenticon-svg {
    display: inline-block;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
}
.combobox-option mark {
    background: none;
    color: var(--md-sys-color-secondary);
    font-weight: 900;
}
.combobox-empty {
    font-style: italic;
}
.combobox-option:hover,
.combobox-option.active {
    background:  #B8C2D7;
}
.watching-hashtags md-filled-text-field.newtag {
    anchor-name: --combobox-newtag;
    --md-filled-field-top-space: 0px;
    --md-filled-field-bottom-space: 0px;
    --md-filled-text-field-leading-space: 8px;
    --md-filled-text-field-trailing-space: 0px;
    height: 34px;
    width: var(--combobox-minWidth);
}
.alert-marker {
    text-shadow: 8px -3px 10px rgb(0 0 0 / 60%);
    animation: pulse ease 0.8s 1;
    transition: transform 0.8s, opacity 0.4s;
}
.alert-commented {
    display: none;
    height: 40px;
    border-radius: 20px;
    background-image: radial-gradient(transparent 30%, var(--md-sys-color-secondary), transparent 70%);
    animation: pulse ease 0.8s 1;
}
.alert-pin {
    text-shadow: 8px -3px 10px rgb(0 0 0 / 60%);
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
}
.aggregate.alert-pin {
    font-size: 60px;
    line-height: 60px;
    top: -10px;
    left: -10px;
    transition: font-size 0.8s;
}
.aggregate.alert-pin:after {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: -5px;
    left: -5px;
    background-image: radial-gradient(transparent 30%, var(--md-sys-color-primary), transparent 70%);
    transition: opacity 0.8s;
    animation: pulse ease 0.8s 1;
}
.aggregate.alert-pin.starting {
    font-size: 0px;
}
.aggregate.alert-pin.starting:after {
    opacity: 0;
}
@keyframes pulse {
    0% { filter: saturate(1); }
    25% { filter: saturate(4); }
    50% { filter: saturate(1); }
    75% { filter: saturate(0); }
    100% { filter: saturate(1); }
}
@keyframes pulse2 { /* for restarting */
    0% { filter: saturate(1); }
    25% { filter: saturate(4); }
    50% { filter: saturate(1); }
    75% { filter: saturate(0); }
    100% { filter: saturate(1); }
}

#checkForUpdates, #downloadUpdates, #updateContainer md-elevated-button {
    width: 150px;
}
.source-updates {
    display: flex;
    align-items: center;
    gap: 10px;
}
.pub {
    animation: pulse ease 0.8s 1;
    --_label-text-weight: 800;
    --_selected-label-text-color: var(--md-sys-color-secondary);
    --md-filter-chip-selected-leading-icon-color: var(--md-sys-color-secondary);
}
md-filter-chip {
    --md-sys-color-surface-container-low: #B8C2D7; /* non-selected elevated filter chip */
}
md-filter-chip minidenticon-svg + md-icon-button,
md-filter-chip .identicon + md-icon-button {
    bottom: 10px;
}
md-filter-chip .identicon md-icon {
    font-size: 18px;
    width: 20px;
    position: relative;
    bottom: 3px;
}
md-filter-chip .identicon {
    width: 43px;
}
md-filter-chip .identicon minidenticon-svg {
    width: 18px;
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: -3px;
}
md-filter-chip minidenticon-svg {
    background: white;
}
md-filter-chip md-icon-button {
    position: relative;
    bottom: 3px;
    right: 3px;
}
md-filter-chip[selected]:not(.pub) md-icon::after {
    content: "radio_button_unchecked";
}
md-filter-chip[selected].pub md-icon::after {
    content: "radio_button_checked";
}
md-filter-chip:not([selected]) md-icon::after {
    content: "cancel";
}
md-filter-chip.pub md-icon {
    color: var(--md-sys-color-secondary);
}
md-outlined-icon-button minidenticon-svg, md-outlined-icon-button img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
}
.alert span minidenticon-svg {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
}
.alert-pin minidenticon-svg {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    top: 7px;
    background: white;
}
.alert form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.alert div.post-input {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
    min-width: 300px;
}
.alert div.post-input md-outlined-text-field {
    width: 210px;
}
.alert p, .alert span {
    font-size: 18px;
}
.alert .actions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.alert md-filled-button {
    width: 100px;
}
.alert md-icon {
    width: 22px;
    height: 22px;
}
md-menu {
    min-width: 150px;
}
.attribution {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.attribution > div:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.teach {
    position: absolute;
    z-index: 1000;
    background: linear-gradient(color-mix(in srgb, var(--md-sys-color-primary), white 40%), var(--md-sys-color-primary));
    color: white;
    padding: 10px;
    border-radius: 12px;
}
.changeHashtag {
    anchor-name: --changeHashtag;
}
.correspondent.avatar {
    anchor-name: --correspondentAvatar;
}
.attribution > .share {
    anchor-name: --share;
}
.reply-input [slot="leading-icon"] {
    anchor-name: --attach;
}
md-filter-chip[label="🆘 help"], md-filter-chip[label="🆘 ayuda"] {
    anchor-name: --topicToggle;
}
.leaflet-popup-content-wrapper {
    anchor-name: --popup;
}
body.firstPublish.firstConversation .firstConversation .correspondent,
body:not(.firstPublish) .firstPublish,
body:not(.firstConversation) .firstConversation {
    display: none;
}
.teach.share {
    position-anchor: --share;
    bottom: calc(anchor(top) + 60px);
    left: anchor(--popup left);
    max-width: min(45vw, 310px);
}
.teach.correspondent {
    position-anchor: --correspondentAvatar;
    bottom: calc(anchor(top) + 15px);
    left: anchor(left);
}
.teach.changeHashtag {
    position-anchor: --changeHashtag;
    bottom: calc(anchor(top) + 60px);
    right: anchor(--popup right);
    width: min(45vw, 310px);
}
.teach.attach {
    position-anchor: --attach;
    top: calc(anchor(bottom) + 15px);
    left: anchor(--popup left);
    background: linear-gradient(var(--md-sys-color-primary), color-mix(in srgb, var(--md-sys-color-primary), white 40%));
}
.teach:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    border-style: solid;
    border-color: var(--md-sys-color-primary) transparent;
}
.teach.share:after {
    bottom: -60px;
    left: 30px;
    border-width: 60px 15px 0;
}
.teach.correspondent:after {
    bottom: -13px;
    left: 6px;
    border-width: 15px 15px 0;
}
.teach.changeHashtag:after {
    bottom: -60px;
    right: 45px;
    border-width: 60px 15px 0;
}
.teach.attach:after {
    top: -15px;
    left: 32px;
    border-width: 0 15px 15px;
}
md-outlined-button {
    padding: 10px;
}

/* .attribution > div:last-child > span { */
/*     text-wrap: nowrap; */
/* } */
md-menu-item minidenticon-svg {
    display: inline-block;
    height: 20px;
    width: 20px;
}
.reply {
    margin-top: 5px;
}
.reply > span {
    padding: 5px;
}
.reply > img, .reply > .attachment, .reply > a > img {
    width: 100%;
    border-style: solid;
}
.reply .attribution {
    border-style: solid solid none solid;
    border-radius: 12px 12px 0 0;
}
.reply .message {
    color: black;
    border-color: var(--md-sys-color-primary);
    border-width: 1px;
    border-radius: 0 0 12px 12px;
    border-style: solid;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}
.attribution-metadata {
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}
.alert {
    font-family: roboto;
}
.reply .attachment md-icon {
    vertical-align: bottom;
}
.attachment-preview {
    margin-top: 15px;
    text-align: right;
}
input[type="file"] {
    display: none;
}
.reply-input {
    width: 100%;
}

.button-container button {
    background: none;
    border: none;
}
.button-image {
    width: 40px;
    height: auto;
    background: none;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4));
}

#qrContainer, #aboutContainer, #updateContainer, #correspondentContainer {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 600;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
}
.display-content {
    background: white;
    position: relative;

    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.display-content > * {
    margin-top: 10px;
}
.display-content ul {
    margin-left: 15px;
}
#correspondentContainer md-outlined-button {
    max-width: 70vw;
}
.handle-avatar {
    display: flex;
    align-items: center;
    gap: 5px;
}
#correspondentContainer .handle {
    color: var(--md-sys-color-secondary);
}
#qrContainer > .display-content {
    padding: 0;
    min-width: unset;
}
.describe {
    margin-bottom: 5px;
}

.hidden {
    display: none !important;
}
